html {
  overflow-y: hidden;
}

body {
  margin: 0;
  padding: 0;
}

html,
body,
:global(#zs-app) {
  height: 100%;
}

/* iFrame Overlay overrides
 * ZS-FIXME: implement this in a robust, generic way
 * (since this is a legacy hack, it preferably shouldn't
 * be supported in the UI Layout component, though)
 */

/* Disable pointer events for the AppBar and Drawer */
:global(.iframe-overlay) > div > div > header,
:global(.iframe-overlay) > div > div > header + div {
  pointer-events: none;
}

/* AppBar */
:global(.iframe-overlay) > div > div > header,
/* Drawer */
:global(.iframe-overlay) > div > div > header + div > div,
/* Content */
:global(.iframe-overlay) > div > div > header + div + div {
  background-color: #777 ! important;
  border-color: #717171 ! important;
}

/* Placeholder */
:global(.iframe-overlay) > div > div > header + div + div > main > div {
  background: none;
}

/* You can't override `box-shadow` color selectively. */
:global(.iframe-overlay) * {
  box-shadow: none ! important;
}

/* Override `primary` theme style */
:global(.iframe-overlay) a,
:global(.iframe-overlay) button {
  color: #000 ! important;
}
